@model List<Category>
@{
    ViewData["Title"] = "Category";
}

<a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create</a>
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>#ID</th>
            <th>Category name</th>
            <th>Description</th>
            <th>Products</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Category cat in Model)
            {
        <tr>
            <td>@cat.CategoryId</td>
            <td><i class="@cat.Picture"> @cat.CategoryName</i></td>
            <td>@cat.Description</td>
            <td class="text-center">@cat.Products.Count()</td>
            <td class="text-right">
                <a asp-controller="Category" asp-action="Edit" asp-route-catId="@cat.CategoryId" class="btn btn-warning">Edit</a>
                <a asp-controller="Category" asp-action="Remove" asp-route-catId="@cat.CategoryId" class="btn btn-danger">Remove</a>
            </td>
        </tr>
            }
    </tbody>
</table>
